# Secrets
.env

# Xcode
build/
DerivedData/
DerivedDataLocal/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# dev app
miniti*.app/
Miniti*.app/

# Build artifacts
*.zip
*.dmg
miniti-icon*.png

# fastlane
fastlane/Preview.html
fastlane/report.xml
fastlane/test_output/
fastlane/*.p8
fastlane/*.mobileprovision

shn.md
