# Secrets
.env

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# dev app
miniti*.app/
Miniti*.app/

# Build artifacts
*.zip
*.dmg
miniti-icon.png

scripts/