<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>miniti</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.miniti.app.twenty</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miniti-twenty</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.miniti.app.attio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miniti-attio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.miniti.app.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miniti-google</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>119</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.2</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>miniti needs to capture system audio to transcribe video calls and other meeting applications.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>miniti needs microphone access to transcribe your voice during meetings.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://api.miniti.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>PPTQN9NX3TgaZYqGLR6EcP6JRNuxlIHxTnxYnrlhliE=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
